<h1>管理活動</h1>

<%= link_to '建立新活動', new_admin_event_path %>
<ul>
<% @events.each do |event| %>
  <li>
    <%= event.name %>
    <%= link_to '顯示', admin_event_path(event) %>
    <% if current_user.id == event.user_id %>
      <%= link_to '編輯', edit_admin_event_path(event) %>
    <% end %>
    <%= button_to '刪除', admin_event_path(event), method: :delete %>
  </li>
<% end %>
</ul>