<h2>註冊</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :密碼 %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :確認密碼 %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "註冊" %></div>
<% end %>

<%= render "links" %>
