<h1>活動首頁</h1>

<%= link_to '建立新活動', new_event_path %>
<ul>
<% @events.each do |event| %>
  <li>
    <%= event.name %>
    <%= link_to '顯示', event_path(event) %>
    <%= link_to '編輯', edit_event_path(event) %>
    <%= button_to '刪除', event_path(event), method: :delete, :confirm => "請確定是否刪除" %>
  </li>
<% end %>
</ul>